.products-list-layer {
  padding: 15px;
  border: 1px solid blue;
}

.product-list {
  margin: -5px;
}

.product-item {
  display: inline-block;
  margin: 5px;
}

.svg-box {
  height: 200px;
  width: 200px;
  border: 2px solid red;
}
